In [1]:
# importing library

In [2]:
import pandas as pd

In [3]:
#Loading data into pandas

In [4]:
df = pd.read_csv('pokemon_data.csv')
#reading excel file
#df = pd.read_excel('pokemon_data.xlsx')
#reading text file
#df = pd.read_csv('pokemon_data.txt',delimiter = '\t')

In [5]:
print(df.head(3))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False

In [6]:
print(df.tail(3))

       #                 Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
797  720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
798  720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
797      130     70           6       True
798      130     80           6       True
799       90     70           6       True

In [7]:
# reading headers

In [8]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [9]:
# reading columns

In [10]:
#print(df['Name'][0:7])
print(df[['Name','Type 1','Speed']][0:7])

                    Name Type 1  Speed
0              Bulbasaur  Grass     45
1                Ivysaur  Grass     60
2               Venusaur  Grass     80
3  VenusaurMega Venusaur  Grass     80
4             Charmander   Fire     65
5             Charmeleon   Fire     80
6              Charizard   Fire    100

In [11]:
# reading rows

In [12]:
#print(df.head(4))

#print(df.iloc[1])

print(df.iloc[1:3])

   #      Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
1  2   Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3  Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
1           1      False
2           1      False

In [13]:
# reading a specific location (R,C)

In [14]:
print(df.iloc[0,1])

Bulbasaur

In [15]:
# reading rows through iteration

In [16]:
#for index,row in df.iterrows():
#print(index,row['Name'])  
df.loc[df['Name']== 'Charmander']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [17]:
# describing data

In [18]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [19]:
# sorting data

In [20]:
#df.sort_values("Speed",ascending = False)

#df.sort_values("Name",ascending = False)

df.sort_values(["Type 1","HP"],ascending = [1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

In [21]:
# making changes to data

In [22]:
df['Total'] = df['HP'] + df['Attack']+df['Defense']+df['Sp. Atk']+df['Sp. Def']+df['Speed']
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [23]:
# droping column

In [24]:
df = df.drop(columns = ['Total'])

In [25]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [26]:
# adding column values

In [27]:
df['Total'] = df.iloc[:,4:10].sum(axis =1)

In [28]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [29]:
# changing column locations

In [30]:
cols = list(df.columns)
df = df[cols[0:4]+[cols[-1]]+cols[4:12]]

In [31]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [32]:
# saving file

In [33]:
# df.to_csv("modified.csv",index = False)
# df.to_excel("modified.xlsx",index = False)
# df.to_csv("modified.txt", index = False, sep = '\t')

In [34]:
# filtering data

In [35]:
#fltrdf = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70) ]

#df.loc[df['Name'].str.contains('Mega')]

#fltrdf = df.loc[~df['Name'].str.contains('Mega')] #Here ~ sign is used as not operator

# import re
# #df.loc[df['Type 1'].str.contains('fire|grass',flags = re.I,regex = True)]

# df.loc[df['Name'].str.contains('^pi[a-z]*',flags = re.I,regex = True)]

# df[df['HP']>70]

# df[df["Speed"].isin([40,50,45])]

# if you want to work with values which are known....you can filter them like this
# df[df['Defense'].notna()]

# df.loc[df["HP"] > 70, ["Name",'Type 1']]

In [36]:
#fltrdf.reset_index(drop = True,inplace = True)

In [37]:
# aggregating

In [38]:
#aggregating
df.agg(
    {
        "HP": ["min", "max", "median", "skew"],
        "Attack": ["min", "max", "median", "mean"],
    }
)

                HP     Attack
min       1.000000    5.00000
max     255.000000  190.00000
median   65.000000   75.00000
skew      1.568224        NaN
mean           NaN   79.00125

In [39]:
# groupby

In [40]:
df[["Legendary", "Attack","HP"]].groupby("Legendary").count()

           Attack   HP
Legendary
False         735  735
True           65   65

In [41]:
df.groupby('Legendary').agg('count')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Legendary,,,,,,,,,,,,
False,735,735,735,374,735,735,735,735,735,735,735,735
True,65,65,65,40,65,65,65,65,65,65,65,65

In [42]:
df[['HP','Attack','Legendary']].groupby('Legendary').mean()

                  HP      Attack
Legendary
False      67.182313   75.669388
True       92.738462  116.676923

In [43]:
# meta-data

In [44]:
def meta_data(data):
    total = data.isnull().sum()
    percent = (total/len(data))*100
    datatype = data.dtypes
    unique = data.nunique()
    
    return pd.concat([total,percent,datatype,unique],axis = 1, keys = ['total_missing_values','percent','datatype','unique'])

In [45]:
meta_data(df)

            total_missing_values  percent datatype  unique
#                              0     0.00    int64     721
Name                           0     0.00   object     800
Type 1                         0     0.00   object      18
Type 2                       386    48.25   object      18
Total                          0     0.00    int64     200
HP                             0     0.00    int64      94
Attack                         0     0.00    int64     111
Defense                        0     0.00    int64     103
Sp. Atk                        0     0.00    int64     105
Sp. Def                        0     0.00    int64      92
Speed                          0     0.00    int64     108
Generation                     0     0.00    int64       6
Legendary                      0     0.00     bool       2

In [46]:
# conditional changes

In [47]:
#df.loc[df['Type 1'] == 'Fire','Type 1'] ='Shoot'
df.loc[df['Type 1'] == 'Shoot','Legendary'] = True
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [48]:
# creating dataframe (2d structure to store data)

In [49]:
df = pd.DataFrame({
    
    'Name' : ['Micheal','Jones','Jonathan','Alexa'],
    'Age' : [50,23,42,16],
    'Sex' : ['Male','Male','Male','Female']
})

In [50]:
df

       Name  Age     Sex
0   Micheal   50    Male
1     Jones   23    Male
2  Jonathan   42    Male
3     Alexa   16  Female

In [51]:
type(df)

pandas.core.frame.DataFrame

In [52]:
# each column in a dataframe is a series

In [53]:
# creating series

In [54]:
names = pd.Series(['Micheal','Jones','Jonathan','Alexa'],name = 'Name')

In [55]:
names

0     Micheal
1       Jones
2    Jonathan
3       Alexa
Name: Name, dtype: object

In [56]:
type(names)

pandas.core.series.Series

In [57]:
# some math functionality

In [58]:
df['Age'].median()

32.5

In [59]:
df['Age'].mean()

32.75

In [60]:
names.min()

'Alexa'

In [61]:
# some useful commands

In [62]:
# pd.concat([df1,df2],axis = 1)

In [63]:
# df.dropna()

In [64]:
# df.fillna(anyvalue)
# df.fillna(df.mean())

In [65]:
# df.isna().sum()

In [66]:
# df.newcolumn = df.anycolumn.apply(lambda x: (any function in return))

In [67]:
# df.groupby('Category').describe()

In [68]:
# df[newcolumn] = df[anycolumn].apply(lambda x : 1 if x == 'any condition' else 0)

In [69]:
# df.loc[df['anycolumn'] == 'any_condition','anycolumn'] = anyvalue

In [70]:
# df.isnull().sum()

In [71]:
# df.isnull().sum().sum()

In [72]:
# df.dropna(inplace = True)

In [73]:
# df.Outcome.value_counts()

In [74]:
# df.sample(number of datapoints)